<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nasa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body>
    <div class="visible parallax">
        <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
            <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center flex-column">
                <h1>NASA</h1>
                <p style="margin-bottom:5px;">MARS ROVER REPRESENTATION</p>
                <hr>
                <h3 style="text-align: center"> Ooops! No Pictures were taken on this day</h3>
                <a href="{{url_for('index')}}"><h4 style="text-align: center"> Click here to try another day</h4></a>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/GI3rBwqwDbw?autoplay=1&amp;loop=1&amp;playlist=GI3rBwqwDbw&amp;controls=0&amp;showinfo=0&amp;rel=0" class="parallax-background"></iframe>
        <div class="parallax-placeholder"
            style="background-image:url(&quot;/static/img/earthview.png&quot;);"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>

