<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nasa (copy)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
</head>

<body>
    <div class="parallax">
        <div class="container d-flex justify-content-center align-items-center parallax-content" style="height:100vh;">
            <div class="row" style="width:1024px; margin-top: 20px">
                <div class="col-sm-12 col-md-8">
                    <div class="card" style="background-color:rgba(255,255,255,0.6);">
                        <a href= "{{ image }}" download>
                        <img  src="{{ image }}" class="img-fluid card-img-top w-100 d-block" style="width:100%;">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; font-size:24px;">Click on Image to download and store locally</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card-body">
                            <h4 class="card-title" style="text-align: center; font-size:24px;">Name of Rover: {{ rover }}</h4>
                            <p class="card-text" style="text-align: center; font-size:14px;">Posted: {{ earth_date }}</p>
                            <p class="card-text" style="text-align: center; font-size:14px;">Launch Date: {{  launch_date}}</p>
                            <p class="card-text" style="text-align: center; font-size:14px;">Landing Date: {{ landing_date }}</p>
                            <p class="card-text" style="text-align: center; font-size:14px;">Mission Status: {{ status }}</p>
                            <p class="card-text" style="text-align: center; font-size:14px;">Camera: {{ camera }}</p>

                    </div>
                </div>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/GI3rBwqwDbw?autoplay=1&amp;loop=1&amp;playlist=GI3rBwqwDbw&amp;controls=0&amp;showinfo=0&amp;rel=0" class="parallax-background"></iframe>
        <div class="parallax-placeholder"
            style="background-image:url(&quot;/static/img/earthview.png&quot;);"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>
